useDynLib(BayesINAR, .registration = TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(predict, adinar)
S3method(predict, dpinar)
S3method(predict, inar)
S3method(summary, adinar)
S3method(summary, dpinar)
S3method(summary, inar)
